@charset "utf-8";
/* index styling */

main > img {
    
}	
main {
   
}

main >ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
main > ul > li {
    list-style-type: none;
    margin: auto;
}

.project {
	width: 250px;
}

.projectText {
	font-size: 1.5em;

}