@charset "utf-8";
/**Styling for page**/
html {
    margin:0px;
    height:100%;
    width: 100%;
}
body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    background-color: rgb(170, 172, 253);
    display: grid;
    justify-items: stretch;
}

.mainWrapper{
    text-align: center;
    background-image: url(images/rhitard1.png);
    display: grid;
    align-items: center;
    height: 100vh;
}

.main {
    justify-self: center;
    color: rgb(0, 0, 71);
}

.main > h1 {
    font-size: 3em;
}

.main > h2 {
    font-size: 2.5em;
    text-transform: uppercase;
}

nav {
    z-index: 1;
    background-image: linear-gradient(rgb(0, 0, 71), rgb(250,128,114),rgb(225, 243, 255),rgb(250,128,114),rgb(0, 0, 71));
    text-align: center;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    color: Black;
    text-decoration: none;
    margin:0% 5%;
    font-size: 2em;
}

#techsk {
    padding: 12%;
    text-align: center;
    background-image:linear-gradient(rgb(243, 239, 239), rgb(185,184,184));
}

#techsk ul{
    list-style-type: none;
    display:grid;
    grid-template-columns: auto auto auto auto;
}

#techsk li{
    padding: 10px;
    font-size: 2em;
}

#edu {
    padding: 12%;    
    background-image: linear-gradient(rgb(185, 184, 184), rgb(207, 205, 205), rgb(243, 239, 239));
    text-align: center;
}

h1{
    text-transform: uppercase;
}

#edu p{
    font-weight: bold;
    font-size: 1.2em;
}

#Works{
    overflow:auto;
    background-image:linear-gradient(rgb(243, 239, 239), rgb(185,184,184));
    height: 100%;
    text-align: center;
    padding-top: 10%;
}

#projects {
    padding: 5% 5%;
    display: grid;
    grid-row-gap: 5%;
    grid-template-columns: auto auto auto auto;
}

#projects a:hover{
    opacity: 0.5;
}

.projects{
    position: relative;
    justify-self: center;
    width: 60%;
    height: 150px;
    background-size: 170px;
    text-align: center;
    opacity: 1;
}

.projects img{
    border-width: 2%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.projects:hover img{
    opacity: 0.3;
}

#text {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
    width: 75%;
    height: 75%;
    font-size: 1em;
}
.projects:hover #text{
    background-color: rgb(0, 0, 71);
    color: lightblue;
    font-size: 16px;
    padding: 16px 32 px;
    opacity:1;
    transition: 1.5s ease;
    border-radius: 50%;
}

.projects a{
    position: relative;
    top: 50%;
    text-decoration: none;
    color: lightblue;
}

.projects a:hover{
    color:white;
}

#profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    content: url(images/profile.png);
    width: 300px;
    border-radius: 50%;
}

.sticky {
    position: fixed;
    top:0px;
    width: 100%;
}

hr{
    height:5px;
}

#lineProj{
    width: 20%;
    background-color: rgb(59, 57, 207);
}

#lineEdu{
    width: 25%;
    background-color: rgb(250,128,114);
}

#lineTech{
    width: 40%;
    background-color:  rgb(59, 57, 207);
}

#lineProfile{
    width: 60%;
    background-color: rgb(250,128,114);
}

#lineEduBreak{
    width: 20px;
    background-color: darkgrey;
}

@media only screen and (max-width:800px) {
    #projects {
        grid-template-columns: auto auto;
    }

    #techsk ul{
        list-style-type: none;
        display:grid;
        grid-template-columns: auto auto;
    }
}

